a{
  color: #11999E;
  font-family: 'Lato', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
} 


body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Bottom-Container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
 
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}

.copyright_cid{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.du {
  text-decoration-line: underline;
}

.footer-link {
  position: relative;

}

h1{
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Architects Daughter', cursive;
  font-size: 5.625rem;
 }
 
 h2{
   color: #66BFBF;
   font-family: 'Lato', sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
   padding-bottom: 10px;
 }
 
 h3 {
   color: #11999E;
   font-family: 'Lato', sans-serif;
 }

 hr {
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto 100px auto;
 }  
 
 .hoops {
   width: 25%;
   float: left;
   margin-right: 30px;
 }
 
 .intro {
   width: 30%;
   margin: auto;
 }

.Middle-Container{
  margin: 100px 0 ;
 
}

.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.support{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 400px;
 }


 .Top-Container {
  background-color: #84a9ac;
  position: relative;
  padding-top: 100px;

}


